{
  "version": "{{ chef_takeaway_version }}",
  "name": "chef-takeaway",
  "author": "Simone Soldateschi",
  "email": "simone.soldateschi@gmail.com",
  "URL": "https://github.com/siso/chef-takeaway",
  "license": "GPLv3",
  "license-url": "http://www.gnu.org/copyleft/gpl.html"
}
